<form>
  <div class="form-group">
    <label for="student-name">Nome do Aluno</label>
    <input class="form-control" id="student-name" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="student-cpf">CPF</label>
    <input class="form-control" id="school-name" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="student-address">Endereço</label>
    <input class="form-control" id="school-name" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Data de Nascimento</label>
    <input class="form-control" id="dateOfBirth" type="date">
  </div>
  <button type="submit" class="btn btn-primary btn-divider-gr">Submit</button>
</form>
