<div class="row">
  <div class="col d-flex justify-content-center">
    <h2>
      <ul>
        <li>
          <a [routerLink]="['/studentForm']" routerLinkActive="router-link-active">Registrar Aluno</a>
        </li>
        <li>
          <a href="">Editar Registro de Aluno</a>
        </li>
        <li>
          <a href="">Deletar Registro de Aluno</a>
        </li>
      </ul>
    </h2>
  </div>
  <div class="col d-flex justify-content-center">
    <h2>
      <ul>
        <li>
          <a [routerLink]="['/schoolForm']" routerLinkActive="router-link-active" >Registrar Escola</a>
        </li>
        <li>
          <a href="">Editar Registro de Escola</a>
        </li>
        <li>
          <a href="">Deletar Registro de Escola</a>
        </li>
      </ul>
    </h2>
  </div>
</div>
<div class="row">
  <div class="d-flex justify-content-center">
    <h2>
      <a href="">Registrar Aluno em Disciplina</a>
    </h2>
  </div>

</div>

