.login-container {
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 .login-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

 .gradely-logo {
  max-width: 150px;
  height: auto;
 }

 .welcome-text {
  font-size: 1.5rem;
  color: #333;
 }

 .bg-image {
  background-image: url("./img/livros.png");
  height: 100vh;
 }
