<h1>Adicionar Aluno em Disciplina</h1>
<div *ngIf="universities.length === 0">Loading universities...</div>
<form (ngSubmit)="addSchoolStudent()">
  <div class="row">
    <div class="col">
      <label for="school">Instituição de Ensino</label>
      <select class="form-control form-control-lg" [(ngModel)]="newSchoolStudent.school_id" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let university of universities" [ngValue]="university.name">{{university.name}}</option>
      </select>
    </div>
    <div class="col">
      <label for="student">Aluno</label>
      <select class="form-control form-control-lg" [(ngModel)]="newSchoolStudent.student_id" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let student of students" [ngValue]="student.id">{{student.name}}</option>
      </select>
    </div>
  </div>
  <div>
    <label for="fos">Disciplina</label>
    <input class="form-control" type="text" [(ngModel)]="newSchoolStudent.fos" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" class="btn btn-primary btn-divider-gr">Submit</button>
</form>
