<div class="form-margin-gradely">
  <form (ngSubmit)="addStudent()">
    <div class="form-group">
      <label for="student-name">Nome do Aluno</label>
      <input class="form-control" id="student-name" placeholder="Nome" [(ngModel)]="newStudent.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="student-cpf">CPF</label>
      <input class="form-control" id="student-cpf" placeholder="CPF" [(ngModel)]="newStudent.cpf" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="student-address">Endereço</label>
      <input class="form-control" id="student-address" placeholder="Endereço" [(ngModel)]="newStudent.address" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Data de Nascimento</label>
      <input class="form-control" id="dateOfBirth" type="date" [(ngModel)]="newStudent.dateOfBirth"  [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary btn-divider-gr">Submit</button>
  </form>
</div>
